---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Game from "../components/Game.tsx";
---

<Layout title="Flags Game">
  <div class="flex justify-center flex-col items-center mt-48 lg:m-72">
    <Game client:only />
  </div>
</Layout>
