---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "@/styles/global.css";
import { Button } from "@/components/ui/button";
import Game from "../components/Game.tsx";
---

<Layout title="Welcome to Astro.">
  <div class="flex justify-center flex-col items-center mt-48 lg:m-72">
    <Game client:load />
  </div>
</Layout>
